@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body, html {
    height: 100%;
    background-image: linear-gradient(#E3D6FF, #FFD6FD);
    padding-bottom: 50px;
    margin-bottom: 30px;
    cursor: url('csk-logo.png'), auto;
}

.pageTitle {
    padding-top: 3%; 
    text-align: center;
    font-family: 'Viga', sans-serif;
    font-size: 50px;
    color: #5D4272;
}

.searchBar {
    text-align: center;
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 60px;
    font-family: 'IBM Plex Mono', monospace;
    border: 3px solid #D08AD7;
    box-shadow: 5px 5px 5px #c0a1c2;
}

.column {
    padding-top: 20px;
    float: left;
    width: 25%;
    text-align: center;
}
.column2 {
    padding-top: 20px;
    float: left;
    width: 25%;
    text-align: center;
}

.row {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 40px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.row2:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column .column2 {
      width: 100%;
    }
}

.folder {
    height: 150px;
}
.folder:hover {
    cursor: pointer;
}

.folder-text {
    margin-top: -20px;
    font-family: 'IBM Plex Mono', monospace;
}

.planets-div {
    text-align: center;
}

.planets {
    height: 100px;
}

.links {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 2px;
    background-color: #C79FCB;
    text-align: center;
    border-radius: 20px;
}

.links-title {
    font-size: 17px;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
}

.link-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding-right: 30px;
    padding-left: 30px; */
    width: 161px;
    height: 46px;
    border-radius: 5px;
    border: 0px;
    background-color: white;
    font-family: 'IBM Plex Mono', monospace;
    position: relative;
}
.link-btn:hover {
    background-color: #d7bfd9;
    cursor: pointer;
}

.flowers {
    height: 150px;
    margin-top: -50px;
}

.hvr-grow-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
}

.groupPhotos {
    text-align: center;
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 60px;
    font-family: 'IBM Plex Mono', monospace;
    border: 3px solid #D08AD7;
    box-shadow: 5px 5px 5px #c0a1c2;
}

.groupHeader {
    padding-top: 30px;
    padding-bottom: 30px;
}

.gallery {
    height: 220px;
    width: 220px;
    object-fit: cover;
    margin: 10px;
    border-radius: 5px;
    border: 15px solid white;
}
  
.gallery:hover {
    transform: scale(1.1);
}
  
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding-top: 25px;
    padding-bottom: 25px; */
}

.footer {
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 10px;
    position: relative;
}

.bottom-btn {
    text-align: center;
}
.gal-btn {
    margin-top: 40px;
    margin-bottom: 50px;
}



.loop-wrapper {
    /* margin: 0 auto; */
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-color: #FFD6FD;
    margin-top: -10px;
    /* border-bottom: 3px solid #fff;
    color: #fff; */
}
.loop-wrapper-2 {
    /* margin: 0 auto; */
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-color: #E3D6FF;
    /* border-bottom: 3px solid #fff;
    color: #fff; */
}
.mountain {
    position: absolute;
    right: -900px;
    bottom: -20px;
    width: 2px;
    height: 2px;
    box-shadow: 
      0 0 0 50px #C79FCB,
      60px 50px 0 70px #C79FCB,
      90px 90px 0 50px #C79FCB,
      250px 250px 0 50px #C79FCB,
      290px 320px 0 50px #C79FCB,
      320px 400px 0 50px #C79FCB
      ;
    transform: rotate(130deg);
    animation: mtn 20s linear infinite;
}
.hill {
    position: absolute;
    right: -900px;
    bottom: -50px;
    width: 400px;
    border-radius: 50%;
    height: 20px;
    box-shadow: 
      0 0 0 50px #C79FCB,
      -20px 0 0 20px #C79FCB,
      -90px 0 0 50px #C79FCB,
      250px 0 0 50px #C79FCB,
      290px 0 0 50px #C79FCB,
      620px 0 0 50px #C79FCB;
    animation: hill 4s 2s linear infinite;
}
.tree, .tree:nth-child(2), .tree:nth-child(3) {
    position: absolute;
    height: 100px; 
    width: 35px;
    bottom: 0;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/tree.svg) no-repeat;
}
.rock {
    margin-top: -17%;
    height: 2%; 
    width: 2%;
    bottom: -2px;
    border-radius: 20px;
    position: absolute;
    background: #ddd;
}
.truck, .wheels {
    transition: all ease;
    width: 85px;
    margin-right: -60px;
    bottom: 0px;
    right: 50%;
    position: absolute;
    background: #eee;
}
.truck {
    background: url("truck.svg") no-repeat;
    background-size: contain;
    height: 60px;
}
.truck:before {
    content: " ";
    position: absolute;
    width: 25px;
    box-shadow:
      -30px 28px 0 1.5px #fff,
       -35px 18px 0 1.5px #fff;
}
.wheels {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/wheels.svg) no-repeat;
    height: 15px;
    margin-bottom: 0;
}
  
.tree  { animation: tree 3s 0.000s linear infinite; }
.tree:nth-child(2)  { animation: tree2 2s 0.150s linear infinite; }
.tree:nth-child(3)  { animation: tree3 8s 0.050s linear infinite; }
.rock  { animation: rock 4s   -0.530s linear infinite; }
.truck  { animation: truck 4s   0.080s ease infinite; }
.wheels  { animation: truck 4s   0.001s ease infinite; }
.truck:before { animation: wind 1.5s   0.000s ease infinite; }
  
  
@keyframes tree {
    0%   { transform: translate(1350px); }
    50% {}
    100% { transform: translate(-50px); }
}
@keyframes tree2 {
    0%   { transform: translate(650px); }
    50% {}
    100% { transform: translate(-50px); }
}
@keyframes tree3 {
    0%   { transform: translate(2750px); }
    50% {}
    100% { transform: translate(-50px); }
}
@keyframes rock {
    0%   { right: -200px; }
    100% { right: 2000px; }
}
@keyframes truck {
    0%   { }
    6%   { transform: translateY(0px); }
    7%   { transform: translateY(-6px); }
    9%   { transform: translateY(0px); }
    10%   { transform: translateY(-1px); }
    11%   { transform: translateY(0px); }
    100%   { }
}
@keyframes wind {
    0%   {  }
    50%   { transform: translateY(3px) }
    100%   { }
}
@keyframes mtn {
    100% {
      transform: translateX(-2000px) rotate(130deg);
    }
}
@keyframes hill {
    100% {
      transform: translateX(-2000px);
    }
}
  

.everything {
	/* background-image: radial-gradient(50% 176%, #253854 80%, #061922 100%); */
	/* min-height: 30rem; */
	position: relative;
	overflow: hidden;
	/* display: flex; */
	/* justify-content: center;
	align-content: center; */
	
	&__content {
		position: relative;
		align-self: center;
		padding: 3rem 0;
	}
}

.snow {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	100% {
		transform: translateY(0);
	}
}

.cursor {
    position: absolute;
    bottom: 74%;
    right: 78%;
    width: 70px;
}

.cursor-photos {
    position: absolute;
    bottom: 84%;
    right: 78%;
    width: 70px;
}

.cornerFlower {
    position: absolute;
    bottom: 81%;
    right: 0%;
    width: 150px;
}

/* .flowerRow {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 800px;
} */

.photosWhole {
    background-image: url("flowerRow.png");
    background-size: contain;
}